// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-main-image {
	background-image: image-url('topbridge.jpg');
	width: 100%;
	height: 500px;
	background-position: center;
	background-size: cover;
	position: relative;
}

.top-sub-text{
	text-align: center;
}

.top-main-text {
	text-align: center;
	line-height: 500px;
	font-size: 50px;
	color: white;
}

.text-center{
	text-align: center;
}


.content-image{
	width: 200px;
	height: 200px;
}
 .top-signup-btn{
 	display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: .4s;
 }

.top-signin-btn{
 	display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: .4s;
}


.top-title{
	margin:100px 0;
	font-weight: bolder;
	padding-bottom: 10px;
	border-bottom: 2px solid #3399FF;
}

.top-registration{
	padding: 50px;
}

.top-signin{
	padding: 50px;
}

.about-box{
  display: block;
  padding-bottom: 50ox;
  animation: anime1 1s ease;
}

@keyframes anime1 {
    0% {
        opacity:  0;                /* 透明度指定 */
        top: 50px;                  /* 位置指定 */
    }
    100% {
        opacity:  1;                /* 透明度指定 */
        top: 0;                     /* 位置指定 */
    }
}

.box-text-area{
	margin: 100px auto;
}

.top-registration{
	margin-bottom: 50px;
}

.top-about{
	margin-bottom: 50px;
}

