// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@charset "UTF-8";

.top-main-image {
	background-image: image-url('topbridge.jpg');
	width: 100%;
	height: 500px;
	background-position: center;
	background-size: cover;
	position: relative;
}

.top-sub-text{
	text-align: center;
}

.top-main-text {
	text-align: center;
	line-height: 500px;
	font-size: 50px;
	color: white;
}

.text-center{
	text-align: center;
}


.content-image{
	width: 200px;
	height: 200px;
}
 .top-signup-btn{
 	display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: .4s;
 }

.top-signin-btn{
 	display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: .4s;
}


.top-title{
	margin:100px 0;
	font-weight: bolder;
	padding-bottom: 10px;
	border-bottom: 2px solid #3399FF;
}

.top-registration{
	padding: 50px;
  margin-bottom: 50px;
}

.top-signin{
	padding: 50px;
}


.box-text-area{
	margin: 100px auto;
}


.top-about{
	margin-bottom: 50px;
}

.about-title {
  font-weight: 800;
}

.about-img{
  width: 500px;
  height: 300px;
}

@media screen and (max-width:425px) {

  .top-main-image {
    height: 200px;
    }

  .top-main-text {
    line-height: 200px;
    font-size: 20px;
  }

  .top-title {
    font-size: 20px;
    margin: 20px;
  }

  .top-registration{
    padding: 10px;
    margin-bottom: 10px;
  }

  .top-subtitle {
    font-size: 10px;
    font-weight: 800;
  }


  .about-img {
    width: 100%;
    height: 100px;
  }

  .about-title {
    font-size: 8px;
    font-weight: 800;
  }

  .box-text-area {
   width :100%;
   margin: 0 auto;
   font-size: 8px;
  }

  .top-introduction {
    font-size: 8px;
  }

  .top-signin-btn {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }

  .top-signup-btn {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }

  .top-signin {
    padding: 10px;
  }

}