// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@charset "UTF-8";

.search-field {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-radius: 6px;
}

